.menu a:nth-child(n) {
display:block;
	margin:0px auto;
}


#hardware #H_outline{
	transform:translate(0px, -932.36px);
}
#hardware #H_fill{
	transform:translate(0px, 0px);
	fill:red;
}
#hardware #A_outline{
transform:translate(90px, -932.36px);
}
#hardware #A_fill{
transform:translate(90px, 0px);
}
#hardware #R_outline{
	transform:translate(160px, -932.36px);
}
#hardware #R_fill{
transform:translate(160px, 0px);
}
#hardware #D_outline{
transform:translate(250px, 0px);
}
#hardware #D_fill{
	transform:translate(250px, 0px);
}
#hardware #W_outline{
transform:translate(0px, -952.36px);
}
#hardware #W_fill{
transform:translate(330px, -952.36px);

}
#hardware #A_dupilcate_outline0{
	transform:translate(400px, 0px);
}
#hardware #A_duplicate_fill0{
	transform:translate(430px, 0px);
}
#hardware #R_duplicate_outline0{
	transform:translate(500px, 0px);
}
#hardware #R_duplicate_fill0{
transform:translate(500px, 0px);
}
#hardware #E_outline{
	transform:translate(570px, 0px);
}
#hardware #E_fill{
	transform:translate(570px, 0px);
}

/* //////////////////////////////////////////////////////*/
#software #S_outline{
	transform:translate(0px, -932.36px);
}
#software #S_fill{
	transform:translate(0px, 0px);
}
#software #O_outline{
transform:translate(90px, -932.36px);
}
#software #O_fill{
transform:translate(90px, 0px);
}
#software #F_outline{
	transform:translate(190px, -932.36px);
}
#software #F_fill{
transform:translate(190px, -932.36px);
}
#software #T_outline{
transform:translate(250px, 0px);
}
#software #T_fill{
	transform:translate(250px, 0px);
}
#software #W_outline{

}
#software #W_fill{
	transform:translate(330px, -952.36px);
}
#software #A_outline{
	transform:translate(420px, 0px);
}
#software #A_fill{
	transform:translate(420px, 0px);
}
#software #R_outline{
	transform:translate(500px, 0px);
}
#software #R_fill{
transform:translate(500px, 0px);
}
#software #E_outline{
	transform:translate(570px, 0px);
}
#software #E_fill{
	transform:translate(570px, 0px);
}
#page_content_header_container > div{
		
		width:30%;
		margin:0px auto;
	}
	#left_arrow{
		 filter: drop-shadow( -2px 1px 1px #000 );
		 margin-left:3%;
		width:100px;
		vertical-align:top;
		margin-top:25%;
	}
#left_arrow:active{
	filter: drop-shadow( 0px 0px 1px #000 );
}
	#right_arrow{
		 filter: drop-shadow( 2px 1px 1px #000 );
		 margin-left:1%;
		width:100px;
		vertical-align:top;
		margin-top:25%;
	}
#right_arrow:active {
	filter: drop-shadow( 0px 0px 1px #000 );
}

#resume_contact_info{
	
	margin:0px;
}
#resume_contact_info > span{
		margin-left:5%;
	}
	#resume_contact_info > span:nth-child(4n+1){
		margin-left:15%;
	}
	#resume_contact_info > a{
		margin-left:22%;
		color:#E2231A;
		font-weight:bolder;
	}
	#resume_contact_info > div{
		padding-left:9%;
	}
	.resume_section > svg{

	}
#technicalskills{
margin-left:5%
}
#technical_skills_section{
	margin-left:3%;
}
#hardware_technical_skills_list{
	margin-bottom:10px;
	padding:0px;
}
#hardware_technical_skills_list a{

	
}
.menu{
	text-shadow: -1px 1px 2px black;
	font-size:1.1em;
	text-align: center;
	border-radius: 20px;
	box-shadow: -5px 1px 5px grey;
	margin-bottom:5%;
	padding:1% 1%;

}
.menu:active{
	box-shadow: -1px 0px 1px grey;
}
.menu ul li {
	margin-top:3%;
}
.menu a{
	text-decoration: none;
	color:red;
	width:50%;

}
.job_title{

	font-style: italic;
	float:left;

}
.workdate{
	float:right;
}
#hardware_menu{


}
#software_menu{

}
#software_technical_skills_list a{

	
}

.resume_section{
	width:70%; 
	margin:0px 0px 5% 4%;
	
}
#workexperience {

}
#education{
	margin-left:20%;
}
[data-active_section='on']{
	visibility:visible;
	display:inline-block;
	position:static;
}
[data-active_section='off']{
	visibility:hidden;
	position:absolute;
}
