@keyframes technicalskills_T_outline{
	
	0%{transform:initial;}
	25%{transform:translateY(-20px);}
	75%{transform:translateY(20px);}
	100%{transform:translateY(0px);}

}

@keyframes technicalskills_T_fill{
	
	
	0%{transform:initial;}
	25%{transform:translateY(-20px);}
	75%{transform:translateY(20px);}
	100%{transform:translateY(0px);}

}

@keyframes technicalskills_E_outline{
	

	50%{transform:translate(75px,-952px);}
	100%{transform:translate(75px,-932px);}

}
@keyframes technicalskills_E_fill{
	

	50%{transform:translate(75px,-20px);}
	100%{transform:translate(75px,-0px);}

}
@keyframes technicalskills_C_outline{
	
	
	25%{transform:translate(150px,-902.36px);}
	75%{transform:translate(150px,-956.36px);}
	100%{transform:translate(150px,-932.36px);}
}
@keyframes technicalskills_C_fill{
	
	
	25%{transform:translate(150px,30px);}
	75%{transform:translate(150px,-26px);}
	100%{transform:translate(150px,0px);}
}
@keyframes technicalskills_H_outline{
	
	25%{transform:translate(230px,-952px);}
	75%{transform:translate(230px,-884px);}
	100%{transform:translate(230px,-932.36px);}
	
}
@keyframes technicalskills_H_fill{
	25%{transform:translate(230px,-20px);}
	75%{transform:translate(230px,50px);}
	100%{transform:translate(230px,0px);}

}
@keyframes technicalskills_N_outline{
	
	25%{transform:translate(300px,-902px);}
	75%{transform:translate(300px,-940px);}
	100%{transform:translate(300px,-932.36px);}
	
}
@keyframes technicalskills_N_fill{
	
	25%{transform:translate(300px,30px);}
	75%{transform:translate(300px,-40px);}
	100%{transform:translate(300px,0px);}
	
}
@keyframes technicalskills_I_outline{
	
		20%{transform:translate(375px,-922px);}
	75%{transform:translate(375px,-955px);}
	100%{transform:translate(375px,-932.36px);}

}
@keyframes technicalskills_I_fill{
	
		20%{transform:translate(375px,10px);}
	75%{transform:translate(375px,-25px);}
	100%{transform:translate(375px,0px);}

}
@keyframes technicalskills_C_duplicate_outline0{
	
	25%{transform:translate(425px,-902.36px);}
	75%{transform:translate(425px,-956.36px);}
	100%{transform:translate(425px,-922.36px);}

}
@keyframes technicalskills_C_duplicate_fill0{
	
	25%{transform:translate(425px,30px);}
	75%{transform:translate(425px,-22px);}
	100%{transform:translate(425px,10px);}

}
@keyframes technicalskills_A_outline{
	
	15%{transform:translate(500px,-952.36px);}
	85%{transform:translate(500px,-900.36pxpx);}
	100%{transform:translate(500px,-922.36px);}

}
@keyframes technicalskills_A_fill{
	
	15%{transform:translate(500px,-60.36px);}
	85%{transform:translate(500px,0.36px);}
	100%{transform:translate(500px,10px);}

}
@keyframes technicalskills_L_outline{
	
		25%{transform:translate(575px,-952px);}
	75%{transform:translate(575px,-884px);}
	100%{transform:translate(575px,-932.36px);}

}
@keyframes technicalskills_L_fill{
	
	25%{transform:translate(575px,-912px);}
	75%{transform:translate(575px,-884px);}
	100%{transform:translate(575px,0px);}
transform: translate(575px , 0px);
}

#technicalskills{

	height:110px;
   width:600px;

}
#bennydorlisme #B_outline{

	transform:translateY(-932.36px);
}

#bennydorlisme #E_outline{
	transform:translate(50px ,-932.36px);
	
}
#bennydorlisme #E_fill{
	transform:translate(975px,0px);
}
#bennydorlisme #N_outline{
	transform:translate(125px ,-932.36px);
	
}
#bennydorlisme #N_duplicate_outline0{
	transform:translate(210px ,-932.36px);
	
}
#bennydorlisme #N_duplicate_fill0{
	transform:translate(210px ,0px);
	
}
#bennydorlisme #Y_outline{
	transform:translate(290px,-952.36223px);
}
#bennydorlisme #D_outline{	
	transform:translate(450px,-932.36px);
}
#bennydorlisme #D_fill{
	transform:translate(450px,0px);
}
#bennydorlisme #O_outline{	
	transform:translate(530px,-932.36px);
}
#bennydorlisme #O_fill{
	transform:translate(530px,0px);
}
#bennydorlisme #R_outline{	
	transform:translate(620px,-952.36px);
}
#bennydorlisme #R_fill{
	transform:translate(620px,0px);
}
#bennydorlisme #L_outline{	
	transform:translate(690px,-932.36px);
}
#bennydorlisme #L_fill{
	transform:translate(690px,0px);
}
#bennydorlisme #I_outline{	
	transform:translate(755px,-942.36px);
}
#bennydorlisme #I_fill{
	transform:translate(755px,-10px);
}
#bennydorlisme #S_outline{	
	transform:translate(800px,-942.36px);
}
#bennydorlisme #S_fill{
	transform:translate(800px,10px);
}
#bennydorlisme #M_outline{	
	transform:translate(890px,-932.36px);
}
#bennydorlisme #M_fill{
	transform:translate(890px,0px);
}
#bennydorlisme #E_duplicate_outline0{
	transform:translate(975px,-932.36px);
	
}
/* Technical Skills///////////////////////////////////////////////////////////////////////////////////////////////////////*/
#technicalskills #T_outline{

	animation: technicalskills_T_outline 10s ease infinite;

}

#technicalskills #T_fill{

animation: technicalskills_T_fill 10s ease infinite;
transform:translate(0px,-952.36223px);
}
#technicalskills #E_outline{
	
	
	animation: technicalskills_E_outline 4s ease infinite;
	transform: translate(75px ,-932.36px);
	
}
#technicalskills #E_fill{
	
	animation: technicalskills_E_fill 4s  0.75s ease infinite;
	transform: translate(75px ,0px);
}
#technicalskills #C_outline{
	
	animation: technicalskills_C_outline 15s ease infinite;
	transform: translate(150px , -932.36px);
	
}
#technicalskills #C_fill{
	animation: technicalskills_C_fill 15s ease infinite;
	transform: translate(150px , 0px);
}
#technicalskills #H_outline{
	animation: technicalskills_H_outline 15s ease infinite;
	transform: translate(230px, -932.36px);
}
#technicalskills #H_fill{
	animation: technicalskills_H_fill 15s ease infinite;
	transform: translate(230px , 0px);
}
#technicalskills #N_outline{
	
	animation: technicalskills_N_outline 8s ease infinite;
	transform: translate(300px, -932.36px);
}
#technicalskills #N_fill{
	
	animation: technicalskills_N_fill 8s ease infinite;
	transform: translate(300px , 0px);
}

#technicalskills #I_outline{
	
	animation: technicalskills_I_outline 14s ease infinite;
	transform: translate(375px, -932.36px);
}
#technicalskills #I_fill{
	
	animation: technicalskills_I_fill 14s ease infinite;
	transform: translate(375px , 0px);
}
#technicalskills #C_duplicate_outline0{
	
	animation: technicalskills_C_duplicate_outline0 ease 10s infinite;
	transform: translate(425px, -922.36px);
}
#technicalskills #C_duplicate_fill0{
	
	animation: technicalskillsC_duplicate_fill0 10s ease infinite;
	transform: translate(425px , 10px);
}
#technicalskills #A_outline{
	
	animation: technicalskills_A_outline 15s ease infinite;
	transform: translate(500px, -922.36px);
}
#technicalskills  #A_fill{
	
	animation: technicalskills_A_fill 15s ease infinite;
	transform: translate(500px , 10px);
}
#technicalskills #L_outline{
	
	animation: technicalskills_L_outline 4s ease infinite;
	transform: translate(575px, -932.36px);
}
#technicalskills #L_fill{
	
	animation: technicalskills_L_fill 4s ease infinite;
	transform: translate(575px , 0px);
}
#technicalskills #S_outline{
	transform: translate(690px, -952.36px);
}
#technicalskills #S_fill{
	transform: translate(690px , 0px);
}
#technicalskills #K_outline{
	transform: translate(760px, -942.36px);
}
#technicalskills #K_fill{
	transform: translate(760px , -10px);
}
#technicalskills #I_duplicate_outline0{
	transform: translate(850px, -942.36px);
}
#technicalskills #I_duplicate_fill0{
	transform: translate(850px , -10px);
}
#technicalskills #L_duplicate_outline0{
	transform: translate(900px, -942.36px);
}
#technicalskills #L_duplicate_fill0{
	transform: translate(900px , -10px);
}
#technicalskills #L_duplicate_outline1{
	transform: translate(975px, -942.36px);
}
#technicalskills #L_duplicate_fill1{
	transform: translate(975px , -10px);
}
#technicalskills #S_duplicate_outline0{
	transform: translate(1050px, -942.36px);
}
#technicalskills #S_duplicate_fill0{
	transform: translate(1050px , 9px);
}


